[Unit]
Description=Runs dashbot

[Service]
EnvironmentFile=/etc/dashbot/environment
ExecStart=/usr/bin/ruby /bin/dashbot
User=dashbot
Group=dashbot
WorkingDirectory=/run/dashbot
Restart=always

[Install]
WantedBy=multi-user.target